body {
	padding: 20px;
	font-family: Helvetica, Arial, sans-serif;
}

#header {
	width: 100%;
	background: #062D74;
}

#main {
	padding: 10px;
	text-align: center;
}

#logo {
	padding: 10px;
}

#input {
	margin: auto;
}

input {
	padding: 5px;
	border: 1px #BBB solid;
	margin-left: 10px;
}

h1 {
	display: inline;
	color: #FFF;
	font-family: 'Droid Serif', arial, serif;
}

#qrarea {
	display: none;
	margin: 20px auto 15px auto;
}

#slider-container {
	margin: auto;
	width: 60%;
}

#slider-label {
	margin-bottom: 10px;
}

#qrcode {
	height: 200px;
	width: 200px;
	margin: auto;
	margin-bottom: 20px;
	background: url(../images/spinner.gif) no-repeat center center;
}

#footer {
	width: 100%;
	text-align: center;
	padding: 5px 0px 5px 0px;
	font-size: 12px;
}

#content {
	margin: auto;
	width: 763px;
	border: 1px #000 solid;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

hr {
	height: 1px;
	border: 0px;
	margin: 0;
	padding: 0;
}